@font-face {
  font-family: "Unbounded";
  src: url(../assets/fonts/Unbounded-VariableFont_wght.ttf);
  font-display: swap;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Unbounded", "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}

main {
  background-color: #063d8f;
}

.inner_container {
  margin: 0 2rem;
}

/* Mapbox gl */
.map_container {
  position: relative;
  height: 25rem;
  width: 90%;
  margin: 0 auto 1.5rem;
}

#map {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  border-radius: 1.5rem;
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none;
}

/* font weights */
h1 {
  font-weight: 600;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 400;
}

p {
  font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

small {
  font-size: 0.6rem;
}

.bold {
  font-weight: 600;
}

.center {
  text-align: center;
}

img {
  height: 5rem;
  width: auto;
}

.page-title {
  color: #fff;
  padding-top: 1.5rem;
  text-transform: capitalize;
}

.section-heading {
  text-transform: capitalize;
  margin-left: 0.5rem;
  margin-bottom: 1.5rem;
  color: #fff;
}

.sub-heading {
  margin-bottom: 1rem;
  font-weight: 600;
}

.input_container {
  position: relative;
  height: fit-content;
  width: fit-content;
  z-index: 10;
  text-align: center;
  max-width: 100%;
  margin: 1.5rem auto;
  padding: 1rem;
  filter: drop-shadow(0.25rem 0.25rem 0.5rem black);
  border-radius: 1rem;
  background-color: #fff;
  transition: all 0.25s ease-in-out;
  white-space: nowrap;
}

.location_btn {
  display: inline-block;
  vertical-align: middle;
  height: 3rem;
  border: 0.1rem solid rgba(109, 109, 109, 0.5);
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #fff;
  padding: 0.1rem;
}

.location_btn:hover {
  background-color: #ddd;
}

.location_btn img {
  height: 2.8rem;
  width: 2.8rem;
  padding: 0.25rem;
}

.location_input {
  border: 0.1rem transparent rgba(109, 109, 109, 0.5);
  border-radius: 0.5rem;
  width: 25rem;
  height: 3rem;
  font-family: inherit;
  font-size: smaller;
}

.userChoices {
  position: absolute;
  display: none;
  font-size: smaller;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #fff;
  width: 30.6rem;
  padding: 0.5rem;
  left: 0;
  top: 4.2rem;
  white-space: nowrap;
  overflow: clip;
  text-align: left;
  cursor: pointer;
}

.userChoice {
  padding-left: 0.8rem;
  padding-bottom: 0.25rem;
}

.userChoice:hover {
  color: #063d8f;
  font-weight: 400;
}

.snapshot_comp_section {
  margin: 0 auto;
}

.summary_section_container {
  border-radius: 1rem;
  background-color: #a6e4ff;
  filter: drop-shadow(0.25rem 0.25rem 0.5rem black);
  padding: 2rem;
  margin-bottom: 1.5rem;
  height: fit-content;
}

.summary_section_inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  text-align: left;
}

.summary {
  grid-area: 1 / span 2;
  text-align: center;
}

.conditions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.5rem auto;
}

.conditions p,
.sunTimes_temp_container p {
  font-size: 1.3rem;
}

.forecast_description h3 {
  margin-bottom: 0.5rem;
}

h2.temp {
  margin-bottom: 0.5rem;
}

.summary_section_inner img {
  height: 10rem;
  margin: 2rem auto;
}

img.icon_small {
  height: 3rem;
  width: auto;
  display: inline;
  margin: 0.8rem;
}

img.icon_mid {
  margin: 1rem;
  height: 4rem;
}

.precipitation_chance,
.humidity,
.wind {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sunTimes_temp_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

.tempComparison_container {
  grid-area: 3 / span 2;
  border-radius: 1rem;
  padding: 1rem;
  line-height: 1.5;
  background-color: #fff;
  filter: drop-shadow(0.15rem 0.15rem 0.25rem black);
  height: fit-content;
}

.tempComparison_container p,
h4 {
  margin-bottom: 0.5rem;
}

.four_day_forecast_container {
  margin: 1.5rem auto;
}

.forecast_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1rem;
  margin: auto;
}

.day p {
  line-height: 1.2;
  margin: 0.5rem;
}

.card.day {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25rem;
  height: 40rem;
  min-height: 30rem;
  filter: drop-shadow(0.25rem 0.25rem 0.5rem black);
  border-radius: 1rem;
  padding: 1rem;
  margin: auto;
  text-align: center;
}

.card h2 {
  margin-bottom: 0.5rem;
}

.card .conditions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
}

.two_weeks_container {
  border-radius: 1rem;
  margin: 0 auto;
}

.two_weeks_container_inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
}

.two_weeks.day {
  display: inline-block;
  padding: 1.5rem;
  text-align: center;
  background-color: #a6e4ff;
  border-radius: 1rem;
  filter: drop-shadow(0.25rem 0.25rem 0.5rem black);
}

.two_weeks img {
  margin: 1.5rem 0;
}

footer {
  text-align: center;
  padding: 2rem;
  background-color: #063d8f;
}

footer p {
  font-weight: 400;
  color: #fff;
}

ul.credit {
  display: flex;
  justify-content: space-around;
}

ul.credit li {
  font-size: 0.6rem;
  text-decoration: underline;
}

@media screen and (min-width: 600px) {
  .location_btn {
    height: 3rem;
  }

  .forecast_container {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }

  .card.day {
    height: 45rem;
    width: 27.5rem;
  }

  .conditions p,
  .sunTimes_temp_container p {
    font-size: 1.5rem;
  }

  img.icon_large {
    height: 12rem;
  }

  img.icon_mid {
    margin: 1.2rem;
    height: 5rem;
  }

  img.icon_small {
    height: 4rem;
  }

  ul.credit li,
  small {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 800px) {
  body {
    font-size: 1.8rem;
  }

  .location_input {
    width: 30rem;
  }

  .userChoices {
    width: 35.5rem;
  }

  .summary .conditions {
    margin: 1.8rem auto;
  }

  .conditions p,
  .sunTimes_temp_container p {
    font-size: 2rem;
  }

  .tempComparison_container {
    padding: 2rem;
  }

  .tempComparison_container p,
  h4 {
    margin-bottom: 1rem;
  }

  .forecast_container {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
  }

  .card.day {
    width: 35rem;
    height: 50rem;
    padding: 2rem;
  }

  .card .conditions .icon_small {
    height: 4rem;
  }

  .card .conditions p {
    font-size: 2rem;
  }

  img.icon_large {
    height: 15rem;
    margin: 3rem auto;
  }

  img.icon_mid {
    margin: 1.4rem;
    height: 7.5rem;
  }

  img.icon_small {
    height: 8rem;
    margin: 1rem;
  }

  .two_weeks_container_inner {
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  }

  .two_weeks.day {
    padding: 1.5rem;
  }

  footer {
    padding: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 2rem;
  }

  .forecast_container {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }

  .card.day {
    width: 40rem;
    height: 55rem;
  }
}
