@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  background: linear-gradient(#a6e4ff, #1763d5);
}

/* font weights */
h1 {
  font-weight: 600;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 400;
}

p {
  font-weight: 300;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

small {
  font-size: 0.8rem;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

img {
  height: 5rem;
  width: auto;
}

.page-title {
  font-size: 4rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
  text-decoration: underline;
}

.section-heading {
  padding: 2rem 0 0 2rem;
  text-decoration: underline;
}

.sub-heading {
  margin: 0.1rem;
  text-decoration: underline;
}

.sub-heading h3 {
  font-weight: 600;
}

.three_day_forecast_container > h1 {
  margin: 0;
}

.forecast_container {
  padding: 1.5rem 2.5rem;
  margin: 0 auto;
}

.day p {
  line-height: 1.2;
  margin: 0.5rem;
}

.today_container {
  background-color: #399999;
  width: 100%;
  height: 100%;
  border: 0.2rem inset #fff;
  border-radius: 1.5rem;
  padding: 1rem;
}

.today_container img {
  height: 5rem;
  margin-top: 1.5rem;
}

.card.day.one {
  background-color: #957490;
  width: 100%;
  height: 100%;
  border: 0.2rem inset #fff;
  border-radius: 1.5rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.card.day.two {
  background-color: #ae467a;
  width: 100%;
  height: 100%;
  border: 0.2rem inset #fff;
  border-radius: 1.5rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.card.day.three {
  background-color: #eaa803;
  width: 100%;
  height: 100%;
  border: 0.2rem inset #fff;
  border-radius: 1.5rem;
  padding: 1rem;
}

.snapshot_comp_section {
  display: flex;
}

.summary_section_container {
  border: 0.2rem inset #fff;
  border-radius: 1.5rem;
  padding: 2rem;
  margin: 0 2rem 0 2rem;
  font-size: 1.4rem;
  background-color: #abc;
}

.summary_section_inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  text-align: left;
}

.summary_section_inner img {
  height: 10rem;
  margin: 0 auto 2rem auto;
}

.summary_section_container > h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  text-decoration: underline;
}

.summary_forecast {
  text-align: center;
}

.summary_forecast h2 {
  font-size: 1.6rem;
}

.summary_forecast h3,
.summary h3 {
  font-size: 1.4rem;
}

.sun_times_container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.sunrise,
.sunset {
  margin-top: 1rem;
}

.sunrise > svg,
.sunset > svg {
  display: inline;
  height: 4rem;
  width: auto;
  margin-right: 0.5rem;
}

.input_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  max-width: 100%;
  margin: 0 2rem 2rem 2rem;
  padding: 4rem;
  border: 0.2rem inset #fff;
  border-radius: 1.5rem;
  background-color: #abc;
}

label.location_input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: flex-start;
  text-align: right;
  line-height: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 500;
}

input.location_input {
  height: 2.5rem;
  flex: 0 0 20rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
}

.userChoices {
  width: 80rem;
  text-align: center;
  cursor: pointer;
}

.tempComparison_container {
  border: 0.2rem inset #fff;
  border-radius: 1.5rem;
  margin-right: 2rem;
  padding: 2rem;
  line-height: 1.5;
  background-color: #abc;
}

.tempComparison_container p,
.tempComparison_container h4 {
  font-size: 1.4rem;
}

footer {
  color: black;
  text-align: center;
  padding: 2rem;
  background: linear-gradient(#1763d5, #a6e4ff);
}

footer p {
  margin-bottom: 1rem;
}

@media screen and (min-width: 600px) {
  .three_day_forecast.container {
    max-width: 100%;
  }

  .forecast_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card.today,
  .card.day.one,
  .card.day.two,
  .card.day.three {
    width: 25%;
    margin-bottom: 0;
  }

  .card.today,
  .card.day.one,
  .card.day.two {
    margin-right: 1rem;
  }
}
