@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf);
}

:root {
  font-size: 8px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  background: linear-gradient(#a6e4ff, #1763d5);
}

/* font weights */
h1 {
  font-weight: 600;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 400;
}

p {
  font-weight: 300;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

small {
  font-size: 1rem;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

img {
  height: 5rem;
  width: auto;
}

.page-title {
  font-size: 4rem;
  padding-top: 2rem;
  text-decoration: underline;
}

.section-heading {
  padding: 2rem 0 0 2.5rem;
  text-decoration: underline;
}

.sub-heading {
  margin-bottom: 1rem;
  text-decoration: underline;
}

.location_search {
  min-width: fit-content;
}

.input_container {
  height: fit-content;
  width: fit-content;
  max-width: 100%;
  margin: 2rem auto;
  padding: 1.5rem;
  border: 0.1rem outset #fff;
  border-radius: 1rem;
  background-color: #fff;
  transition: all 0.25s ease-in-out;
}

.location_btn {
  display: inline-block;
  background-color: rgba(221, 221, 221, 0.917);
  border: 0.1rem solid rgba(109, 109, 109, 0.502);
  border-radius: 0.5rem;
  cursor: pointer;
}

.location_btn img {
  height: 1.8rem;
  width: auto;
  padding: 0.1rem;
}

label.location_input {
  line-height: 2.5rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}

input.location_input {
  margin-left: 1rem;
  border-radius: 0.5rem;
}

.userChoices {
  background-color: #fff;
  width: 30rem;
  margin-left: 18.5rem;
  max-width: fit-content;
  text-align: left;
  cursor: pointer;
}

.snapshot_comp_section {
  margin: 0 2rem;
}

.summary_section_container {
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  background-color: #fff;
  height: fit-content;
}

.summary_section_inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  text-align: left;
}

.summary_section_inner img {
  height: 10rem;
  margin: 0 auto 2rem auto;
}

.summary_section_container > h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  text-decoration: underline;
}

.summary_forecast {
  text-align: center;
}

.summary_forecast h2 {
  font-size: 1.6rem;
}

.summary_forecast h3,
.summary h3 {
  font-size: 1.4rem;
}

.sun_times_container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
}

.sunrise,
.sunset {
  margin-top: 1rem;
}

.sunrise > img,
.sunset > img {
  display: inline;
  height: 4rem;
  width: auto;
}

.tempComparison_container {
  border: 0.2rem outset #fff;
  border-radius: 1rem;
  padding: 2rem;
  line-height: 1.5;
  background-color: #fff;
  height: fit-content;
}

.tempComparison_container p,
.tempComparison_container h4 {
  font-size: 1.4rem;
  padding: 0.5rem;
}

.four_day_forecast_container {
  margin: 1.5rem 2rem;
  background-color: #d2e8ff;
  border-radius: 1rem;
}

.four_day_forecast_container > h1 {
  margin: 0;
}

.forecast_container {
  padding: 1.5rem 3rem;
  margin: auto;
  width: fit-content;
  text-align: center;
}

.day p {
  line-height: 1.2;
  margin: 0.5rem;
}

.card.day {
  background: #fff;
  display: inline-block;
  width: fit-content;
  min-width: 25rem;
  height: fit-content;
  min-height: 30rem;
  border: 0.2rem outset #fff;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
  text-align: center;
}

.two_weeks_container {
  background-color: #a6e4ff;
  border-radius: 1rem;
  padding: 2.5rem;
  margin: 0 2rem 0 2rem;
}

.two_weeks_container h1 {
  margin: 0 0 1.5rem 1.5rem;
}

.two_weeks_container_inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.two_weeks.day {
  display: inline-block;
  border-right: 1px solid gray;
  padding: 1.5rem;
  text-align: center;
}

.two_weeks.day:nth-child(4),
.two_weeks.day:nth-child(8),
.two_weeks.day:nth-child(12) {
  border-right: none;
}

.two_weeks img {
  margin-bottom: 1rem;
}

footer {
  text-align: center;
  padding: 2rem;
  background: linear-gradient(#1763d5, #a6e4ff);
}

footer p {
  margin-bottom: 1rem;
}

ul.credit li {
  font-size: 1rem;
  text-decoration: underline;
}

@media screen and (min-width: 600px) {
  :root {
    font-size: 10px;
  }

  label.location_input {
    font-size: 2rem;
  }

  input.location_input {
    width: 25rem;
    height: 3rem;
  }

  .location_btn img {
    height: 3rem;
    width: auto;
    padding: 0.25rem;
  }
  .snapshot_comp_section {
    display: flex;
    margin: 0 2rem;
  }

  .summary_section_container {
    margin-right: 1.5rem;
  }

  .forecast_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .card.day {
    margin: 0;
  }
}

@media screen and (min-width: 800px) {
  .four_day_forecast_container {
    max-width: fit-content;
  }

  .forecast_container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }

  .card h1 {
    font-size: 1.8rem;
  }
  .card h2 {
    font-size: 1.6rem;
  }

  .card p {
    font-size: 1.4rem;
  }

  .card img {
    margin-bottom: 1.5rem;
  }
  .card.day {
    width: 25%;
    min-width: 0;
    margin-bottom: 0;
    margin-right: 1rem;
  }
}

@media screen and (min-width: 900px) {
  .snapshot_comp_section {
    margin: 2rem 5%;
  }

  .four_day_forecast_container {
    margin: 2rem auto;
  }
}
